@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body,
.splash {
  background-image: url("../../public/bg1.png");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0.5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeRight {
  animation: fadeRight 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeLeft {
  animation: fadeLeft 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeTop {
  animation: fadeTop 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeTop-for-contact {
  animation: fadeTop 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeBottom {
  animation: fadeBottom 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeBottomForCV {
  animation: fadeBottom 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeBottomForCV {
  animation: fadeBottom 1.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeBottom-for-contacts {
  animation: fadeBottom-for-contacts 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeIn {
  animation: fadeIn 0.75s ease-in-out;
}

.animate-fadeOut {
  animation: fadeOut 1s forwards;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.loader {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid #646363;
  border-top: 5px solid #ffb68d;
  -webkit-animation: 1s loader linear infinite;
  animation: 1s loader linear infinite;
}

.animate-bounce {
  animation: bounce 1s ease-in-out forwards;
  animation-iteration-count: 2.5;
}

.ocultar-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ocultar-scroll::-webkit-scrollbar {
  display: none;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeTo-for-contact {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeBottom {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeBottom-for-contacts {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
