@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeRight {
  animation: fadeRight 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeTop {
  animation: fadeTop 0.9s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeTop-for-contact {
  animation: fadeTop 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeBottom {
  animation: fadeBottom 1.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animate-fadeBottom-for-contacts {
  animation: fadeBottom-for-contacts 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeTo-for-contact {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeBottom {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeBottom-for-contacts {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
